.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  height: auto;
  transition: all 0.4s ease;
}

.lineaNegra {
  display: flex;
  width: 100%;
  height: 1.3rem;
  background-color: #333;
  justify-content: center;
  color: white;
  font-family: Verdana;
}

.logo {
  width: 20%;
}

.brand-tittle {
  margin: 0.5rem;
  width: 60%;
}

.navigation ul {
  list-style: none;
}

.header .navigation ul li {
  float: left;
  position: relative;
}

.sticky {
  opacity: 0;
  background-color: #000000;
  transition: all .5s ease;
}

.sticky:hover {
  opacity: 1;
}


.header .navigation ul li a,
.header .sticky .navigation ul li a {
  font-size: 18px;
  color: #ccc8c8;
  text-decoration: none;
  padding: 20px;
  display: block;
  /*  transition: all .5s ease; */
  border-radius: 5px;
}

.header .sticky .navigation ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.header .navigation ul li a:hover {
  background-color: #333;
}

.header .navigation ul li ul {
  position: absolute;
  right: 0;
  width: 300px;
  background-color: #555;
  padding: 0;
  text-align: center;
  display: none;
  border-radius: 10px;
  box-shadow: 5px 5px 50px black;
}

.header .navigation ul li ul li a {
  font-size: 15px;
  text-transform: capitalize;
}

.header .navigation ul li ul li ul {
  position: absolute;
  top: 0;
  right: 300px;
}

.header .navigation ul li ul li {
  width: 100%;
}

.header .navigation ul li:hover > ul {
  display: initial;
}

.header .sticky .navigation ul li:hover > ul {
  display: initial;
}

#toggle,
.header label {
  display: none;
  cursor: pointer;
  background-color: #333;
}

.menu {
  width: 45px;
  height: 35px;
  margin: 5px;
  background-color: #333;
}

.toggleLabel {
  margin: 5px;
  border-radius: 10px;
}

.listMarcas {
  height: 30px;
  font-weight: 500;
}

.iconLogin {
  width: 2rem;
  margin-left: 1px;
}

/*   CSS DE BOTON SEARCH UIVERSE */

.container {
  position: relative;
  --size-button: 40px;
}

.inputSearch {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #333;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

::placeholder {
  color: grey;
  font-weight: bold;
}

.inputSearch:focus,
.inputSearch:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.inputSearch:focus + .icon,
.inputSearch:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 15px;
  padding: 8px;
  pointer-events: none;
}

.ionicon {
  color: white;
}

.inputSearch:hover .ionicon {
  transform: rotateZ(360deg);
}

.container .icon svg {
  width: 100%;
  height: 100%;
}

.linkSearchResults{
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 20%;
}
.linkSearchResults:hover{
  color: #555;
}
/*   FIN  CSS DE BOTON SEARCH UIVERSE */

/*   ver mas  CSS DE BOTON SEARCH UIVERSE */

.buttonSeeAll {
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: #555;
}

.buttonSeeAll:hover {
  background-color: #989898;
  box-shadow: 0px 10px 20px rgba(62, 70, 68, 0.37);
  color: #fff;
  transform: translateY(-7px);
}

.buttonSeeAll:active {
  transform: translateY(-1px);
}
.linkSeeAll {
  text-decoration: none;
}
/*  fin ver mas  CSS DE BOTON SEARCH UIVERSE */

.buttonBack {
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(62, 70, 68, 0.37) ;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: #555;
  width: 40%;
  justify-content: space-around;
}
.buttonBack:hover {
  background-color: #989898;
  box-shadow: 0px 10px 20px rgba(62, 70, 68, 0.37);
  color: #fff;
  transform: translateY(-7px);
}

.buttonBack:active {
  transform: translateY(-1px);
}
.linkBack {
  text-decoration: none;
}

@media (max-width: 950px) {
  .logo {
    width: 15rem;
  }
  .sticky {
    opacity: 1;
  }

  .header .navigation ul li a br {
    display: none;
  }

  .header .navigation ul li:active {
    display: initial;
  }

  .header label {
    display: initial;
  }

  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #555;
    display: none;
  }

  .header .navigation ul li {
    width: 100%;
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li {
    background-color: #555;
  }

  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  #toggle:checked ~ .navigation {
    display: block;
  }
  .lineaNegra {
    display: none;
  }
}
@media (max-width: 460px) {
  .header {
    padding: 0px;
  }
}

.hero {
  min-height: 100vh;
  background-image: url("https://github.com/FabricioGodoy/imagenes/blob/main/Sbox-CostaRica/imagenGamerHD.jpg?raw=true");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
